<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Map</title>    
    <title>{% block title %} {% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="/travelmap_top/static/css/style.css">
</head>
<body>
    <div>
        Current user: <b>{{user}}</b>
    </div>
    {% include  'navbar.html'%}

    
    {% block content %}
    {% endblock %}
    
</body>
</html>