/* @import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* <img id="logo" src="travelmap_top/core/templates/core/logo.png" class="d-inline-block align-top" alt="logo"> */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
}

#user-box {
    /* border: 3px solid royalblue; */
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    /* background-color: royalblue; */
    color: royalblue;
}

#has-visited {
    font-size: 40px;
}

main {
    height: 100vh;
    background-image: url('https://wallpaperaccess.com/full/136035.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* #header {
    margin-top: 30px;
} */

h1, h2 {
    color: aliceblue;
    font-size: 3em;
    font-family: 'Agdasima';
    text-align: center;
    margin-top: 10%;
}

h2 > a {
    color: cornflowerblue;
}

h3 {
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
}

footer {
    font-family: 'Oswald';
    color: aliceblue;
    text-align: center;
    margin-bottom: 20px;
}

.form {
    color: black;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom right, darkblue, lightskyblue);
    opacity: 0.8;
    box-shadow: 2px 2px 6px 6px black;
}

button {
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    margin-top: 10px;
    padding: 5px 0;
}

input {
    margin: 5px;
}

#sign {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#flag {
    width: 20px;
}

#countries {
    width: 430px; 
    height: 630px; 
    overflow: scroll; 
    border: 1px solid lightblue;

}

#container {
    margin: 25px;
    display: flex;
}

#countries-box {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

#button-add {
    margin-top: 10px;
    height: 40px;
}

#map {
    height: 700px;
    width: 100%;
    margin-left: 15px;
}