/* @import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
}

main {
    height: 100vh;
    background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2012/07/24/7276/52ed66a83ef8259a0ece4a180d02dd0d-700.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* #header {
    margin-top: 30px;
} */

h1, h2 {
    color: aliceblue;
    font-size: 3em;
    font-family: 'Agdasima';
    text-align: center;
    margin-top: 10%;
}

h3 {
    margin-top: 10px;
    text-align: center;
}

footer {
    font-family: 'Oswald';
    color: aliceblue;
    text-align: center;
    margin-bottom: 20px;
}

.form {
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    background-color: lightskyblue;
    opacity: 0.8;
    box-shadow: 2px 2px 6px 6px midnightblue;
}

button {
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    margin-top: 10px;
    padding: 5px 0;
}

input {
    margin: 5px;
}

#sign {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#flag {
    width: 20px;
}

#countries {
    width: 500px; height: 500px; overflow: scroll; margin-left: 50px; border: 1px solid lightblue;
}