/* {% for country in countries %}
  <label class="checkbox-radio">
    <input type="checkbox" id="country_{{ country.id }}" name="fav_languages[]" value="{{ country.id }}">
    <span class="checkmark"></span>
    {{ country.name }} <img src="{{ country.flag }}" alt="flag" style="width: 20px;">
  </label>
{% endfor %} */

.checkbox-radio input[type="checkbox"] {
    display: none;
  }
  
  .checkbox-radio .checkmark {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .checkbox-radio input[type="checkbox"]:checked + .checkmark {
    background-color: #ccc;
  }
  
  .checkbox-radio input[type="checkbox"]:checked + .checkmark:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
  }
  