{% extends 'base.html' %}
{% block title %} Travel Map {% endblock %}
{% block content %}

<h1>Track Your Travel History</h1>
<div class="d-flex justify-content-start">
    <h3>Countries List</h3>

  

    <ul>
        {% for country in countries %}
        <input type="checkbox" id="country_{{ country.id }}" name="country" value="{{ country.id }}" style="border-radius: 50%;">
        <label for="country_{{ country.id }}">{{ country.name }} <img src="{{ country.flag }}" alt="flag" style="width: 20px;"></label><br>
        {% endfor %}
    </ul>

</div>

{% endblock content %}